@memes_original/
memes_original/
memes_postprocess/
image_vectors/
nearest_neighbors/
thumbs/

.idea/

memes/
memes - Copy/

@RetrainNotebook/
@retrainFlowers/

vgg16_weights.h5

~(clusters)

*.npz

type1
type2
type3
type4
type5
type6

atlas_files/
.DS_Store
*.pem
*.swp

*.npz

Thumbs.db
*.db
*.rar
