@memes_original/
memes_original/
memes_postprocess/
image_vectors/
nearest_neighbors/
thumbs/

.idea/

memes/
memes_val/
memes - Copy/

@RetrainNotebook/
@retrainFlowers/
Type CSVs/

vgg16_weights.h5

~(clusters)
~(Clusters)
 Cluster 1/

*.npz

type1
type2
type3
type4
type5
type6

atlas_files/
.DS_Store
*.pem
*.swp

*.npz
*.h5

Thumbs.db
*.db
*.rar
*.zip
